<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/" method="post">
      user name: <input type="text" name="username" value="linh"/> <br/>
      password: <input type="text" name="password" value="12345"/> <br/>
      place of birth: <input type="text" name="placeOfBirth" value="nghe an"/> <br/>
      <input type="submit" value="submit"/>
  </form>
  </body>
</html>
